h1 {
    color:crimson;
    font-size: 64px;
}
h2 {
    text-align: center;
}


#ana-tablo {
    
    font-size: 28px;
}

p {
    text-align: center;
    font-family: 'Allison', cursive;
    font-size: 30px;
    color: black;
}

.center {
    text-align: center;
    list-style-position: inside;
  }